/* Adds some space between the tabs and the content. */
.views-element-container {
  margin-top: 10px;
}
/* Removes the bullet from the actions list. */
.view-header .action-links {
  list-style: none;
  padding: 0;
}
/* Styles the request status. */
td.views-field-state {
  font-weight: bold;
}
.views-field-state .state-pending {
  color: #d89b46;
}
.views-field-state .state-approved {
  color: #52a552;
}
.views-field-state .state-rejected {
  color: #c34a47;
}
.views-field-state .state-canceled {
  color: #a6a6a6;
}
/* Styles the response on the request page. */
.field--name-response {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
}
.field--name-response > .field--label {
  font-size: 1.26em;
  margin-bottom: 10px;
}
/* Transition form shown on the request page. */
.state-machine-transition-form {
  margin-top: 20px;
}
.views-field .state-machine-transition-form {
  /* Removes the top margin when showing as a Views field. */
  margin-top: 0;
}
